<!DOCTYPE html>
<html>
<head>
    <% include partials/tempalte/head.ejs %>
</head>
<body>
<% include partials/content/loginAndSignup.ejs %>
<% include partials/tempalte/jsdefaults.ejs %>
</body>
</html>
